extends layout

block body
	h1.header
		| PeerCloud: The Serverless Web
	#main-content
		p.
			Paste a site infohash below to open a specific site, or leave the default to
			open an example image gallery. Please #[strong be patient] since it may take a
			while for the site to appear.
		form
			input#location(type='text', value='29d3d10d146eda1921424fd7e79753697703db9d')
			input#go-button(type='submit', value='Go!', disabled)
		p.
			You #[strong must] leave this page open while browsing! This is because Chrome
			doesn't support WebRTC from service workers. There is
			#[a(href='https://code.google.com/p/chromium/issues/detail?id=302019') a bug]
			open about this on the chromium bug tracker.
	p.footer
		| Code available #[a(href='https://github.com/jhiesey/peercloud') on GitHub]
	script(src='/bundle.js')
